<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>
  <% if @task.completed %>
    <%= '[X] This task is completed' %>
  <% else %>
    <%= '[  ] This task is not completed yet' %>
  <% end %>
</p>
<%= link_to 'Back to list',  tasks_path %>
<%= link_to 'Edit this task',  edit_task_path %>
